:root {
	--primary-bg-color: #efe8cd;
	--secondary-bg-color: #383643;
	--primary-main-color: #7a432c;
	--secondary-main-color: #b3694a;

	--title-font: "Judson", serif;
	--text-font: "Inter", sans-serif;
}

* {
	box-sizing: border-box;
	color: var(--secondary-bg-color);
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

header {
	position: sticky;
	top: 0;
}

main {
	width: 100%;
	display: flex;
}

footer {
	position: sticky;
	height: 8vh;
}

h3 {
	font-family: var(--title-font);
}

.chat-header h3 {
	color: var(--primary-bg-color);
}

.navigation {
	height: 8vh;
	background-color: var(--secondary-bg-color);
}

.avatar {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 18%;
	overflow: hidden;
}

.avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contacts-sidebar {
	height: 84vh;
	width: 25vw;
	overflow-y: scroll;
	background-color: var(--primary-bg-color);
}

.contacts-sidebar-user {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1em;
	width: 100%;
}

.contacts-sidebar-user::before {
	content: "";
	position: absolute;
	width: 90%;
	margin: auto;
	bottom: 0;
	border-bottom: 1px solid var(--secondary-main-color);
	opacity: 0.5;
}

.contacts-sidebar-user:hover {
	background-color: var(--secondary-main-color);
}

.username {
	margin-left: 1em;
}

.chat-container {
	flex: 12;
	display: flex;
	flex-direction: column;
}

.chat-header .avatar {
	width: 3em;
	height: 3em;
}
.chat-header {
	background-color: var(--primary-main-color);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5em 1em;
}

.chat-header-current-username {
	margin: 1em;
}

.chat-body {
	bottom: 0;
	padding: 2em 2.5em;
	overflow-y: scroll;
	background-color: var(--primary-bg-color);
	flex: 30;
}

.chat-message {
	font-size: 14px;
	padding: 2em 4em;
	width: fit-content;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 2em;
    font-family: var(--text-font);
}

.chat-message-sent {
	margin-left: auto;
	background-color: var(--secondary-main-color);
    color: white;
    text-align: end;
}

.chat-footer {
	background-color: var(--secondary-main-color);
	display: flex;
	align-items: center;
}

.chat-footer input {
	flex: 20;
	margin: 1em 1.5em;
	padding: 0.8em 1.5em;
	outline: none;
	border: none;
	border-radius: 0.8em;
	font-size: 15px;
}

.chat-footer img {
	width: 0.2rem;
	flex: 0.6;
	padding-right: 1rem;
	opacity: 0.6;
}
